
/*
 *  This stylesheet defines the className dbc_light which helps improve
 *  the design of light themed Bootstrap apps
 *
 *
 */





/*--------------------------------------------
 * DataTable
 */

/* fixes DataTable dropdown - allows dropdown menu to be visible  */
.dbc_light .dash-table-container .row {
    display : block !important;
    margin: 0;
}

/*
 *  sort arrow and delete icons in the DataTable header
 *  these icons appear when the table is sortable and/or columns are deletable
 */
.dbc_light .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    --accent: var(--primary) !important;
    --hover: none !important;
    --border: lightgrey;
    --text-color: var(--dark) !important;
}

/* pagination buttons - this removes the default pink hover  */
.dbc_light .last-page:hover, .previous-page:hover, .first-page:hover, .next-page:hover{
    color: var(--primary) !important;
}

/* table body */
.dbc_light .dash-spreadsheet td {
    font-family:  var(--font-family-sans-serif);
    background-color: var(--light) !important;
    color: var(--dark) !important;
    border: lightgrey;
}


/* table header */
.dbc_light .dash-spreadsheet .dash-header {
    font-family:  var(--font-family-sans-serif);
    background-color: var(--light) !important;
    opacity: 0.9;
    color: var(--dark) !important;
    --accent: var(--primary) !important;
    --border: lightgrey;
}

/*  filter row in the header  */
.dbc_light .dash-spreadsheet .dash-filter {
    font-family:  var(--font-family-sans-serif);
    background-color: var(--light) !important;
    color: var(--dark) !important;
    --border: lightgrey;
}


/* tooltips - makes text readable in dark themes */
.dbc_light .dash-table-tooltip {
    color:black
}



/* row hover *
.dbc_light .dash-spreadsheet tr:hover td.dash-cell {
    opacity: 0.9;
}
*/




/*------------------------------------
 * Sliders - makes the slider the "primary color"
 */

.dbc_light .rc-slider-handle {
  border: 0;
  background-color: var(--primary)
}

.dbc_light .rc-slider-rail {
   background-color: #ededed;  /* grey */
}

.dbc_light .rc-slider-track {
  background-color: var(--primary)
}

.dbc_light .rc-slider-dot {
  border: 0;
  background-color: #ededed; /* grey */
}

.dbc_light .rc-slider-dot.rc-slider-dot-active {
  background-color: var(--primary)
}

/* label color */
.dbc_light .rc-slider-mark-text {
  color: black
  opacity: 0.7
}

/* Makes the active label color different than default label color */
.dbc_light .rc-slider-mark-text.rc-slider-mark-text-active {
  color: black
}
