
/*
 *  This stylesheet defines the className dbc_pulse which helps improve
 *  the design of  Bootswatch PULSE themed  apps
 *
 *
 */



/*  -------------------------------------
 * Slider
 *    Customized for PULSE.  Changes the slider bar to the "primary" color
 */

.dbc_pulse .rc-slider-handle {
  border: 0;
  background-color: #593196;  /* primary */
}

.dbc_pulse .rc-slider-rail {
  background-color: #ededed;  /* grey  */
}

.dbc_pulse .rc-slider-track {
  background-color: #593196;  /* primary */
}

.dbc_pulse .rc-slider-dot {
  border: 0;
  background-color: #ededed; /* grey  */
}

.dbc_pulse .rc-slider-dot.rc-slider-dot-active {
  background-color: #593196;  /* primary */
}

/* default label color */
.dbc_pulse .rc-slider-mark-text {
  color: #868e96;
}


/* Makes the active label color different than default label color */
.dbc_pulse .rc-slider-mark-text.rc-slider-mark-text-active {
  color: #343a40;
}

