
/*
 *  This stylesheet defines the className dbc_both which has minimal
 *  CSS to make Dash components work with Bootstrap themes
 *
 */


/*-----------------------------------
 * Dropdowns
 *     improves readability of menu items in either light or dark themes
 */
.dbc_both .VirtualizedSelectOption {
    background-color: white;
    color: black;
}

.dbc_both .VirtualizedSelectFocusedOption {
    background-color: lightgrey;
    color: black;
}


/* ----------------------------------------
 * Markdown
 *    Table -add style when used in dcc.Markdown
 */
.dbc_both table {
  border-collapse: collapse;
}
.dbc_both th:not(.CalendarDay),
.dbc_both td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
.dbc_both th:first-child:not(.CalendarDay),
.dbc_both td:first-child:not(.CalendarDay) {
  padding-left: 0; }
.dbc_both th:last-child:not(.CalendarDay),
.dbc_both td:last-child:not(.CalendarDay) {
  padding-right: 0; }

/*   Blockquotes - adds style when used in dcc.Markdown */
dbc_both blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}



/*--------------------------------------------
 * DataTable
 * /

/* fixes margins so data isn't cut off at table edges */
.dash-table-container .row {
    display : block !important;
    margin: 0;
}

/* fixes  when the table dropdown doesn't drop down */
.Select-menu-outer {
    display: block !important;
}
