
/*
 *  This stylesheet defines the className dbc_both which can be used as a
 *  default style that will work with any Bootstrap theme.
 *
 *
 */


/*
 * Dropdowns - improves visibility in dark themes
 */
.dbc_both .VirtualizedSelectOption {
    background-color: white;
    color: black;
}

.dbc_both .VirtualizedSelectFocusedOption {
    background-color: lightgrey;
    color: black;
}



/*------------------------------------
 * Sliders
 */

.dbc .rc-slider-handle {
  border: 0;
  background-color: var(--primary)
}

.dbc .rc-slider-rail {
   background-color: #ededed;  /* grey */
}

.dbc .rc-slider-track {
  background-color: var(--primary)
}

.dbc .rc-slider-dot {
  border: 0;
  background-color: #ededed; /* grey */
}

.dbc .rc-slider-dot.rc-slider-dot-active {
  background-color: var(--primary)
}

.dbc .rc-slider-mark-text {
  color: #868e96;    /* label color */
}

/* Makes the active label color different than default label color */
.dbc .rc-slider-mark-text.rc-slider-mark-text-active {
  color: #343a40;
}





/*  Styles a  dcc.Markdown Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dbc_both table {
  border-collapse: collapse;
}
.dbc_both th:not(.CalendarDay),
.dbc_both td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
.dbc_both th:first-child:not(.CalendarDay),
.dbc_both td:first-child:not(.CalendarDay) {
  padding-left: 0; }
.dbc_both th:last-child:not(.CalendarDay),
.dbc_both td:last-child:not(.CalendarDay) {
  padding-right: 0; }
