

/*
 * Styles a code box so it works with both light and dark themes
 */
.codebox  {
    background-color: whitesmoke;
    border-style: double;
    border-radius: 15px;
    max-width: 900px;
    margin-top: 10px;
    margin-bottom:20px;
    padding:20px;
}


/* Resizes images in markdown */
img[src*="#thumbnail"] {
       width:450px;
    }

.popover {
  max-width: 1000px;
}

