

/* For dark theme apps - this changes color of dropdown input box
.Select--single  .Select-value  {
  background-color: #adb5bd;
}
*/


/** This styles the dropdown  menu items so they are  visible in both light and dark theme apps **/
.VirtualizedSelectOption {
    background-color: white;
    color: black;
}

.VirtualizedSelectFocusedOption {
    background-color: lightgrey;
    color: black;
}


/** fixes dash DataTable dropdown - allows dropdown menu to be visible */
.dash-table-container .row {
    display : block !important;
    margin: 0;
}



/* Resizes images in markdown */
img[src*="#thumbnail"] {
       width:450px;
    }

/*  when using Bootstrap, this will add row borders to the table in dcc.Markdown Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th:not(.CalendarDay),
td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child:not(.CalendarDay),
td:first-child:not(.CalendarDay) {
  padding-left: 0; }
th:last-child:not(.CalendarDay),
td:last-child:not(.CalendarDay) {
  padding-right: 0; }