

/* For dark theme apps - this changes color of dropdown input box
.Select--single  .Select-value  {
  background-color: #adb5bd;
}
*/


/** This styles the dropdown  menu items so they are  visible in both light and dark theme apps **/
.VirtualizedSelectOption {
    background-color: white;
    color: black;
}

.VirtualizedSelectFocusedOption {
    background-color: lightgrey;
    color: black;
}


/** fixes dash DataTable dropdown - allows dropdown menu to be visible */
.dash-table-container .row {
    display : block !important;
    margin: 0;
}



/* Resizes images in markdown */
img[src*="#thumbnail"] {
       width:450px;
    }

/*  when using Bootstrap, this will add row borders to the table in dcc.Markdown Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th:not(.CalendarDay),
td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child:not(.CalendarDay),
td:first-child:not(.CalendarDay) {
  padding-left: 0; }
th:last-child:not(.CalendarDay),
td:last-child:not(.CalendarDay) {
  padding-right: 0; }



/* for code boxes in the app.  The transparent background works well for both light
   and dark themed apps.  Doesn't work???
*/
.codebox  {
    background-color: transparent;
    border-style: double;
    border-radius: 15px;
    max-width: 900px;
    margin-top: 10px;
    margin-bottom:20px;
}




/*************************   experimental ignore below *****************/

/*
 * This styles the dcc.slider components
 *


.slider-dark-theme{
 background:blue !important;
  .rc-slider-dot-active, .rc-slider-handle {
  border-color: blue !important;
  }
}
  .slider-dark-theme .rc-slider-track {
  background-color: blue !important
  }

  .slider-dark-theme, .rc-slider-rail {
  background-color: black !important
 }



/* This changes color of the input box *
.DateInput_input {
    box-sizing: border-box;
    background-color: blue; !important
}
.DateRangePickerInput {
    background-color: blue; !important

}



/* Calendar to  and from day  *
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: blue !important;
  border: 1px double blue !important;
  color: white !important;
}

/* Calendar range between to and from day */
.CalendarDay__selected_span {
    background: blue !important;
    border: 1px blue !important;
    opacity: .25 !important;
}
/* hover color on calendar day *
.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: grey !important;
    border: 1px  grey !important;

}

/* this is just the q mark *
.DayPickerKeyboardShortcuts_showSpan {
  bottom: -11px;
  right: -12px;
  color: yellow;
}

/* background color of the hover keyboard shortcuts instructions
.DayPickerKeyboardShortcuts_panel {
    background: white;
    border: 1px solid white;
    color: black;

    .DayPickerKeyboardShortcuts_closeSvg {
      fill: pink;
    }
  }
*/

/* The styles the Export and Toggle button for the DataTable
.export {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*/


/* This is for the cyborg
 * To style the
 *

.show-hide, .export {
  display: inline-block;
  font-weight: 400;
  color: #adafae;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* to select the color find the .btn
/* .btn-primary
.show-hide, .export {
  color: #fff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
*/
/*
 * To move the export button on the DataTable to the bottom left side of table
*
.export {
  position:absolute; left: 0px; bottom:-40px
}
*/

/*
 * To move both the export and toggle button to the DataTable to the bottom left side of table

.dash-spreadsheet-menu {
  position:absolute; left: 0px; bottom:-40px
}

*/



/*

  // DatePicker* are wrapped in a div with display: inline-block
  // inside FormGroup we want display: block instead.
  .form-group > div {
    display: block !important;
  }

  &.form-group > div {
    display: block !important;
  }

  .SingleDatePicker,
  .DateRangePicker {
    display: block;
  }

  /* This changes the background between the two date boxes !!*
  .SingleDatePickerInput,
  .DateRangePickerInput {
    background-color: blue;
  }

/* This controls the color of the input box !!!!! *
  .DateInput_input {
    background: blue;
    text-align: center;
    color: white;

  }

  /* no effect ?*
  .DateRangePickerInput_arrow {
    color: white;
    background: blue

  }


  /* background behind dropdown calendar !! *
  .DayPicker {
    background: yellow;

  }
  /* color of days of week !!*
  .DayPicker_weekHeader {
    color: red;

  }


  /* I think this is the arrows on the drop down calendar
  .DayPickerNavigation_button {
    @include border-radius($input-border-radius, 0);
    border: $input-border-width solid $popover-border-color;
    background: $popover-bg;

    svg {
      fill: red;
    }

    &:hover {
      $navigation-hover-bg: color-yiq(
        $popover-bg,
        darken($popover-bg, 5%),
        lighten($popover-bg, 5%)
      );
      background: $navigation-hover-bg;

      svg {
        fill: color-yiq(
          $navigation-hover-bg,
          $yiq-text-dark,
          $yiq-text-light,
          200
        );
      }
    }
  }
*/

  /* This is the month year on the drop down calendar !! *
  .CalendarMonth_caption {
    color: red;
  }


  /* doesn't have muc effect background on strip to the right of the drop down cal
  .CalendarMonthGrid {
    background-color: pink;
  }
  */

  /* This is the background of the drop down cal, but not the grid with the days !! *
  .CalendarMonth {
    background-color: blue;
  }

/

  .CalendarDay__default {
    $calendar-day-border-color: color-yiq(
      $popover-bg,
      darken($popover-bg, 10%),
      lighten($popover-bg, 10%)
    );
    color: $popover-body-color;
    border-color: $calendar-day-border-color;
    background-color: blue;

    &:hover {
      $day-hover-bg: color-yiq(
        $popover-bg,
        darken($popover-bg, 5%),
        lighten($popover-bg, 5%)
      );

      background: $day-hover-bg;
      border-color: $calendar-day-border-color;
      color: color-yiq($day-hover-bg, $yiq-text-dark, $yiq-text-light, 200);
    }

    /* amw - original is primary  no effect i can see so far*
    &.CalendarDay__selected,
    &.CalendarDay__selected:hover {
      background: blue;
      border: 1px double blue;
      color: color-yiq(theme-color("primary"));
    }

    &.CalendarDay__hovered_span,
    &.CalendarDay__hovered_span:hover {
      $hovered-span-bg: color-yiq(
        $popover-bg,
        lighten(theme-color("primary"), 10%),
        darken(theme-color("primary"), 10%)
      );
      background: $hovered-span-bg;
      // border:
      color: color-yiq($hovered-span-bg);
    }

    &.CalendarDay__blocked_out_of_range,
    &.CalendarDay__blocked_out_of_range:hover {
      color: color-yiq(
        $popover-bg,
        darken($popover-bg, 10%),
        lighten($popover-bg, 10%)
      );
      border-color: color-yiq(
        $popover-bg,
        darken($popover-bg, 10%),
        lighten($popover-bg, 10%)
      );
      background: $popover-bg;
      cursor: default;
    }
  }

  /*

  .CalendarDay__outside {
    border: 0;
    cursor: default;
  }

  .DayPicker_transitionContainer {
    @if $enable-rounded {
      border-radius: calc(#{$popover-border-radius} - #{$popover-border-width});
    } @else {
      border-radius: 0;
    }
  }
  .DayPickerKeyboardShortcuts_show {
    &::before {
      content: none;
    }
  }

  .DayPickerKeyboardShortcuts_show__bottomRight {
    width: 0;
    height: 0;

    border-top: 12px solid transparent;
    border-bottom: 12px solid blue; !important
    border-left: 16px solid transparent;
    border-right: 12 px solid blue !important;


    &::before {
      border-right: 0;
      border-top: 0;
    }
/*
    &:hover {
      border-top: 12px solid transparent;
      border-bottom: 12px solid blue, 7.5%) important!;
      border-left: 16px solid transparent;
      border-right: 16px solid blue, 7.5%) important!;
    }
*/


